#superhero-tree.Tree {
  background-color: #d5c8b5;
  min-width: 700px;
  min-height: 1200px;
}
#superhero-tree.Tree .Tree-Row {
  align-items: flex-end;
  justify-content: space-between;
  margin: 16px 0px;
}

#superhero-tree.Tree .Node {
  outline: none;
  background-color: transparent;
}

#superhero-tree .Link.married {
  stroke: steelblue;
}

#superhero-tree .Link.dating {
  stroke: #619db1;
  stroke-dasharray: 5px;
}
#superhero-tree .Link.offspring {
  stroke: crimson;
  stroke-linecap: round;
}

#superhero-tree .Link.nemesis {
  stroke: purple;
  stroke-dasharray: 5px;
}

#superhero-tree .Link.clone {
  stroke: orange;
  stroke-dasharray: 5px;
}

#superhero-tree .Link.other {
  stroke: forestgreen;
}
