#slay-tree.Tree {
  background-color: #898a7b;
  min-width: 800px;
  min-height: 1200px;
}

#slay-tree.Tree .Node {
  border: none;
  background-color: #898a7b;
}
#slay-tree.Tree .Node.active {
  border-radius: 50%;
  filter: saturate(4);
}

#slay-tree .Node.Node-Pulled-Up {
  margin-top: -35px;
}

#slay-tree .Node.Node-Pulled-Down {
  margin-top: 20px;
}

#slay-tree .Tree-Row:first-of-type {
  height: 256px;
}

#slay-tree .Tree-Links > path {
  stroke-dasharray: 9px;
  stroke-width: 3px;
  stroke: #5a5a56;
}
