#superhero-tree.Tree {
  background-color: #d5c8b5;
  min-width: 700px;
}
#superhero-tree.Tree .Node {
  border: none;
  background-color: transparent;
}

#superhero-tree .Tree-Links > path.married {
  stroke: steelblue;
}

#superhero-tree .Tree-Links > path.dating {
  stroke: #619db1;
  stroke-dasharray: 5px;
}
#superhero-tree .Tree-Links > path.offspring {
  stroke: crimson;
}

#superhero-tree .Tree-Links > path.nemesis {
  stroke: purple;
  stroke-dasharray: 5px;
}

#superhero-tree .Tree-Links > path.other {
  stroke: forestgreen;
}
