#slay-tree.Tree {
  background-color: #898a7b;
  min-width: 800px;
  min-height: 1200px;
}
#slay-tree.Tree .active {
  animation: 1.5s forwards darkenStroke;
}

#slay-tree.Tree .Node {
  outline: none;
  background-color: #898a7b;
}

/* pick all nodes except for the boss (which is in the first row) */
#slay-tree.Tree .Tree-Row:not(:first-of-type) .Node.next-active:not(.active) {
  animation: 1s infinite alternate pulse;
}

#slay-tree.Tree .Tree-Row:not(:first-of-type) .Node:hover {
  /* important is used because each Node may have its own scale  (with higher priority than this selector) */
  transform: scale(1.2) !important;
}

@keyframes darkenStroke {
  from {
    outline-color: #706f65;
    stroke: #706f65;
  }
  to {
    outline-color: #15202b;
    stroke: #15202b;
  }
}
@keyframes pulse {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.5);
  }
}

#slay-tree .Node.Node-Pulled-Up {
  margin-top: -35px;
}

#slay-tree .Node.Node-Pulled-Down {
  margin-top: 20px;
}

#slay-tree .Tree-Row:first-of-type {
  height: 256px;
}

#slay-tree .Link {
  stroke-dasharray: 9px;
  stroke-width: 3px;
  stroke: #706f65;
}
