#effects-tree.Tree {
  background-color: transparent;
}
#effects-tree.Tree .Node {
  border: solid;
  border-width: 1px;
  background-color: white;
}
#effects-tree.Tree .Node:not(.active) {
  filter: grayscale(100%);
}

#effects-tree.Tree .Sprite {
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transform-origin: top left;
}
