#effects-tree.Tree .Node:not(.active) {
  filter: grayscale(100%);
}

#effects-tree.Tree .Sprite {
  transform: scale(3);
  image-rendering: pixelated;
  background-repeat: no-repeat;
  transform-origin: top left;
}
