.Tree {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 400px;
}

@keyframes activate {
  from {
    outline-color: gray;
    stroke: gray;
  }
  to {
    outline-color: gold;
    stroke: gold;
  }
}
.Tree .active {
  animation: 1.5s forwards activate;
}

.Tree-Row {
  display: flex;
  justify-content: space-evenly;
}
